.auth-navbar{

height:82px;

background:rgba(255,255,255,.95);

backdrop-filter:blur(20px);

border-bottom:1px solid #E2E8F0;

position:sticky;

top:0;

z-index:999;

}

.auth-navbar-container{

width:min(1600px,95%);

height:100%;

margin:auto;

display:flex;

align-items:center;

}