# Virtual environments (isolated Python copies)
.venv/
env/
ENV/
venv/

# Python cache files (makes code run faster locally)
**/__pycache__/
*.py[cod]
*$py.class

# Environment variables (secret API keys and passwords)
.env
.env.local

# IDE and Editor files
.vscode/
.idea/
.DS_Store
ds



# Ignore compiled migration scripts
migrations/versions/*.pyc

